{% if browser == "IE" %}
<a href="includes/output_beer_xml.inc.php?id={{ id }}&source={{ source }}&brewStyle={{ style }}">
{% else %}
<a href="#" onclick="window.open('includes/output_beer_xml.inc.php?id={{ id }}&source={{ source }}&brewStyle={{ style }}','','height=5,width=5, scrollbars=no, toolbar=no, resizable==no, menubar=no'); return false;">
{% endif %}

<img src="{{ image_src }}{{ theme }}/button_beer_xml_{{ theme }}.png"  border="0" alt="Output to Beer XML"></a>