<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="description"
          content="{{ name.brewerLogName }} is the homebrewing log and recipe collection of {{ name.brewerFirstName }} {{ name.brewerLastName }}. Powered by BrewBlogger {{ version }}.">
    <meta name="robots" content="index,follow,noarchive">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>
        {% block title %}
            {% if pref.mode == "1" %}
                {{ name.brewerFirstName }}'s BrewBlog &gt; {{ page_title }} {{ page_title_extension }}
            {% elseif pref.mode == "2" %}
                {{ name.brewerFirstName }} {{ name.brewerLogName }} &gt; {{ page_title }} {{ page_title_extension }}
            {% endif %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="css/universal_elements.css" type="text/css">

    {% if checkmobile %}
        <link rel="stylesheet" href="css/mobile.css" type="text/css">
    {% else %}
        <script type="text/javascript" src="js_includes/menu.js"></script>
        <script type="text/javascript" src="js_includes/jquery.js"></script>
        <script type="text/javascript" src="js_includes/thickbox.js"></script>
        <script type="text/javascript" src="js_includes/jump_menu.js"></script>
        <link rel="stylesheet" href="css/thickbox.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/{{ pref.theme }}" type="text/css">
    {% endif %}

    {% block head %}{% endblock %}
</head>
<body {% block bodyAttr %}{% endblock %}>

<div id="main-container">
    <!-- Begin Header -->
    <div id="header">
        <div class="titleText">{{ name.brewerFirstName }}{% if pref.mode == 1 and name.brewerFirstName %}'s{% endif %}
            &nbsp;{{ name.brewerLogName }}</div>
        <div class="quoteText">{{ name.brewerTagline }}</div>
    </div>
    <div id="nav">{{ navigation }}</div>
    <!-- End Header -->
    <!-- Begin Main Content -->
    <div id="content-wrapper">
        <div id="{% block content_id "content-wide" %}">
            <div id="{% block breadcrumb_id "breadcrumbWide" %}">{{ breadcrumb }}</div>
            {% if pref.mode == 2 and pref.home == page and pref.allowNews == "y" and totalRows_newsGen > 0 %}{{ news }}{% endif %}
            <div id="{% block subtitle_id "subtitleWide" %}">
                <div id="icon"><img src="{{ image_src }}{{ icon }}.png" align="bottom"></div>
                {% block page_title page_title %}
            </div>
            <!-- end subtitle or subtitleWide -->
            {% block body %}{% endblock %}
        </div>
        <!-- End left-column -->
        {% if block('sidebar') is not empty %}
            <div id="right-column">
                {% block sidebar %}{% endblock %}
            </div><!-- End right-column -->
        {% endif %}
    </div>
    <!-- End contentWrapper -->
    <!-- End Main Content -->

    <!-- Begin Footer -->
    <div id="footer">{{ footer }}</div>
    <!-- End Footer -->
</div>
<!-- End Main Container -->
</body>
</html>
